# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Next.js
.next/
out/
dist/
build/

# Firebase
.firebase/
functions/.next/
functions/node_modules/
functions/dist/

# Cache
.cache/
*.log
*.pack
